@{
    ViewData["Title"] = "Home Page";
}

<div class="container">
    <div class="text-center mt-5">
        <h1 class="mb-4">Welcome to the Library Management System</h1>
        <p class="lead">Select an option to get started</p>
        <div class="row justify-content-center">
            <!-- Add New Category Button -->
            <div class="col-md-3 mb-3">
                <a href="@Url.Action("Create", "Categories")" class="btn btn-primary btn-block">
                    Add New Category
                </a>
            </div>
            <!-- Add New Book Button -->
            <div class="col-md-3 mb-3">
                <a href="@Url.Action("Create", "Books")" class="btn btn-success btn-block">
                    Add New Book
                </a>
            </div>
            <!-- Add New Shelf Button -->
            <div class="col-md-3 mb-3">
                <a href="@Url.Action("Create", "Shelves")" class="btn btn-info btn-block">
                    Add New Shelf
                </a>
            </div>
        </div>
    </div>
</div>